*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 1440px;
}

.body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

.header-nav-right{
    display: flex;
    gap: 3em;
    font-weight: 700;
}

.header-nav-right a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}


.nav{
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    padding-top: 30px;

}

.second-section{
    padding-top: 50px;
    display: flex;
    line-height: 25px;
}

.second-nav{
    width: 50%;
    padding-top: 60px;
}

.second-image{
    animation-name: second-image;
    animation-duration: 4.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes second-image{
    from{ transform: rotate(20);}
    to{transform: rotate(360deg);}
}


.second-nav h1{
    font-size: 35px;
    font-weight: 700;
}

.second-image{
    width: 50%;
}

input{
    width: 250px;
    height: 35px;
}

button{
    background-color: hsl(224, 93%, 58%);
    color: white;
    width: 120px;
    height:35px;
    border: none;
    border-radius: 3px;
    margin-left: 13px;
}

.third-section{
    padding-top: 50px;
    display: flex;
    line-height: 25px;
    margin-top: 50px;
    padding-bottom: 70px;
    background-image: url(bg-curve-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.third-nav{
    width: 50%;
    padding-top: 60px;
}


.third-nav a{
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    border-bottom: 1.5px solid hsl(170, 45%, 43%);
    padding: 5px;
}

 
.container{
    height: 230px;
    background-color: Light Gray: hsl(0, 0%, 75%);
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    width: 380px;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: container;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.container p{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}

.container:hover{
        transform:scale(1.1);
        transition-duration: 0.5s;
}

.third-image{
    display: flex;
    align-content: center;
    margin-top: 25px;
}

.fourth-image{
    width: 50%;

}

.picture{
    border-radius: 150%;
    width: 30px;
    margin-top: 20px;
    margin-right: 15px;
    }


.third-image h3{
    font-size: 12px;
    font-weight: 700;
    margin: 1px;
}

.third-image p{
    font-size: 11px;
    margin: 1px;
}


.first-footer{
    width: 100%;
    height: 300px;
    background-color:  hsl(238, 22%, 44%);
    margin-top: 50px;
    padding: 4rem 6rem 4rem 3rem;
    margin-left: 0;
}

.inbox{
    display: flex;
    gap: 15em;
    color: white;
}

.inbox h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.inbox p{
    font-size: 16px;
    font-weight: 400;
}

.button-2{
    width: 100%;
    width: 150px;
    height:50px;
    margin-left: 0;
}

.second-footer{
    background-color: hsl(243, 87%, 12%);
    width: 100%;
    height: 300px;
    color: white;
    padding: 4rem 6rem 4rem 3rem;
}

.second-footer a{
    color: white;
    text-decoration: none;
    margin: 5px;
}

.footer-end{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.logo-1{
margin-top: -50px;
}


.logo-2{
    filter: brightness(0) invert(1);
}

.links-left{
display: flex;
flex-direction: column;
align-items: center;
}

.links-middle{
display: flex;
flex-direction: column;
}


.links-right i{
    font-size: 15px;
    border: 1px solid #fff;
    padding: 8px 8px;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
}

.end-para a{
    color: rgb(241, 5, 56);
}

.end-para a:hover{
    color: blue;
}


.end-para{
    padding-top: 45px;
    text-align: center;
}


@media screen and (max-width:650px) {
    .main{
        background-image: url(image/bg-curve-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}